/* Animations */
/* Since figure has 5 images, its set to a 500% width. It will transition to the next
100% (next image) after some seconds. Overflow-x is hidden. */
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.footer {
  min-height: auto;
  color: rgb(237, 223, 223);
  background-color: rgb(82, 80, 80);
  font-size: large;
}

.footer__h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.footer__link {
  position: relative;
  text-decoration: none;
  color: rgb(237, 223, 223);
}

.footer__i-social-logo {
  position: relative;
  top: 0.1rem;
}

.footer__flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__div-help-contact {
  display: flex;
  gap: 2rem;
  padding: 3rem;
}

.footer__ul-help {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer__li-help {
  list-style-type: none;
}

.footer__p-contact:hover .footer__link, .footer__li-help:hover .footer__link {
  color: rgb(255, 255, 255);
}

.footer__div-social-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 3rem 0rem;
  gap: 2rem;
}

.footer__ul-social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer__li-social_links {
  list-style-type: none;
  padding: 0.5rem;
  border: solid 2px rgb(176, 163, 146);
  border-radius: 10%;
  vertical-align: center;
}

.footer__li-social_links:hover {
  background-color: rgb(223, 216, 209);
  transform: scale(1.1);
}

.footer__li-social_links:hover .footer__link {
  color: var(--hover-color); /* vars are declared on the html tag*/
}

.footer__div-location {
  margin: 1.3rem;
}

.footer__iframe:hover {
  transform: scale(1.1);
}

.footer__rights-reserved {
  text-align: center;
  padding: 0 3rem 1rem 0;
}

@media (max-width: 970px) {
  .footer__flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__div-location {
    margin: 0;
    padding: 0;
  }
  .footer__rights-reserved {
    padding: 1rem 0;
  }
  .footer__div-social-links {
    margin-left: 0;
  }
}
/* Animations */
/* Since figure has 5 images, its set to a 500% width. It will transition to the next
100% (next image) after some seconds. Overflow-x is hidden. */
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
header {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -90px;
  z-index: 2;
}

.header__h1 {
  font-size: 2rem;
  font-family: Aclonica, sans-serif;
  height: 90px;
  padding-top: 30px;
  margin-left: 25px;
}

/* h1 <a> tag */
.header__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*Nav bar Flex container contains 3 Flex items: ul-left, ul-right and hamburguer button*/
.header__nav-bar {
  background-color: rgb(26, 24, 24);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
}

.header__nav-bar-ul-left {
  display: flex;
  gap: 3.5rem;
  margin-left: 20px;
}

.header__nav-bar-ul-right {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  position: relative; /*Relative for search-bar-active*/
}

/*nav bar buttons*/
.header__nav-bar-li {
  cursor: pointer;
  list-style-type: none;
  border-bottom: 5px solid transparent;
  border-radius: 0.25rem;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
}
.header__nav-bar-li:hover {
  border-bottom: 3px solid rgb(121, 174, 235);
  transform: scale(1.05);
  background: linear-gradient(to right, rgb(0, 116, 248), rgb(193, 221, 242), rgb(171, 202, 238));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Styles for the hamburguer button on mobile menu */
.header__hamburguer-button {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 25px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.2rem;
  height: 1.5rem;
  width: 2.3rem;
}
.header__hamburguer-button:hover {
  border-bottom: 3px solid rgb(121, 174, 235);
  transform: scale(1.05);
  background: linear-gradient(to right, rgb(0, 116, 248), rgb(193, 221, 242), rgb(171, 202, 238));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__hamburguer-bar {
  display: none;
  background-color: rgb(255, 255, 255);
  height: 0.2rem;
  width: 90%;
  border-radius: 0.5rem;
}

/*Active search bar on click*/
.header__search-bar-toggle {
  width: 10rem;
  height: 2rem;
  padding-left: 0.5rem;
  position: absolute;
  right: 12rem;
  bottom: 1rem;
  transition: all 1s;
  transform: translateY(-100rem);
  font-size: 1rem;
  background-color: rgb(250, 245, 245);
  border-radius: 0.25rem;
}

.header__search-bar-toggle.active {
  transform: translateY(0rem);
}

@media (max-width: 900px) {
  .header__h1 {
    margin-left: 1rem;
  }
  .header__nav-bar {
    flex-direction: column;
    padding: 1rem 0rem 0rem 0rem;
  }
  .header__nav-bar-ul-right {
    gap: 0.5rem;
    margin-left: 2.5rem;
  }
  /* Creating the nav bar and moving it away until hamburguer button is press */
  .header__nav-bar-ul-left {
    display: flex;
    flex-direction: column;
    border-radius: 0rem 0rem 1rem 1rem;
    order: 1;
    padding: 1rem 1rem 1rem 2.3rem;
    width: 100%;
    gap: 1.5rem;
    margin: 0rem;
    background-color: rgb(26, 24, 24);
    transform: translateX(-100rem);
    transition: 0.3s ease-out;
  }
  .header__nav-bar-ul-left.active {
    transform: translateX(0rem);
    transition: 0.3s ease-out;
  }
  .header__hamburguer-bar {
    display: block;
    transition: 0.3s;
  }
  /* Bars to cross transition. 2nd bar will not show while 1st and 2rd will rotate*/
  .header__hamburguer-button.active .header__hamburguer-bar:nth-child(2) {
    opacity: 0;
    transition: 0.2s;
  }
  .header__hamburguer-button.active .header__hamburguer-bar:nth-child(1) {
    transform: translateY(0.53rem) rotate(45deg);
    transition: 0.2s;
  }
  .header__hamburguer-button.active .header__hamburguer-bar:nth-child(3) {
    transform: translateY(-0.53rem) rotate(-45deg);
    transition: 0.2s;
  }
  .header__search-bar-toggle {
    z-index: 10;
    right: 3rem;
    top: 1rem;
  }
}
/* Animations */
/* Since figure has 5 images, its set to a 500% width. It will transition to the next
100% (next image) after some seconds. Overflow-x is hidden. */
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.main__section-newsletter-grid-item {
  grid-row: 10/16;
  grid-column: 1/3;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 4rem;
  font-size: 1.5rem;
  background-color: rgba(128, 128, 128, 0.251);
  border-radius: 1rem;
  padding: 3rem 1rem;
  width: 100%;
  margin-top: 2rem;
  z-index: 0;
}

.main__section-h2 {
  align-self: center;
}

.main__div-newsletter-flex-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__form-flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input-big {
  height: 3rem;
  width: 100%;
  padding-left: 0.5rem;
  font-size: large;
}

.form__input-container-flex-row {
  display: flex;
  gap: 2rem;
}

.form__label-input-flex-col {
  display: flex;
  flex-direction: column;
}

.form__submit {
  cursor: pointer;
  color: black;
  border-color: black;
  width: 5rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  background: rgb(187, 215, 221);
  font-size: 1rem;
}
.form__submit:hover {
  background: rgb(146, 206, 219);
  transform: scale(1.05);
}

.form__submit.query {
  margin: 0;
  height: 2rem;
}

@media (max-width: 600px) {
  .main__section-newsletter-grid-item {
    flex-direction: column;
    gap: 1rem;
  }
}
/* Animations */
/* Since figure has 5 images, its set to a 500% width. It will transition to the next
100% (next image) after some seconds. Overflow-x is hidden. */
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/* Placement of main__header */
/* Grid */
/*  Grid for entire product gallery and aside advertisement */
/* Aside (advertisements) elements positioning */
/* Flexbox */
/* Product item layout positioning */
/* On hover there will be an overlay with a grey background and two <a> */
/* First I translate everything away, then on hover it comes back with a transition delay */
/* Media queries */
/* Changing ad position */
main {
  padding: 2rem 1rem;
}

/* Placement of main__header */
.main__header-flex-container {
  display: flex;
  justify-content: space-between;
}

/* Grid */
/*  Grid for entire product gallery and aside advertisement */
.main__product-container-grid {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 27rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) 12rem;
  gap: 2rem;
  margin-bottom: 5rem;
  margin-left: 1.5rem;
}

/* Aside (advertisements) elements positioning.  */
.main__aside-vertical-ad {
  grid-row: 1/-3;
  grid-column-end: -1;
  display: flex;
  background: url("../images/ads/vertical-ad.jpg ");
  background-size: 100% 25rem;
  background-repeat: repeat;
}

.main__aside-horizontal-ad {
  background-image: url("../images/ads/vertical-ad3.jpg");
  background-position: 55% 45%;
  background-size: 90% 15rem;
  background-repeat: no-repeat;
  padding: 4rem;
  margin-bottom: 3rem;
  margin-top: -1rem;
}

/* Flexbox */
/* Product item layout positioning */
.main__product-item-grid {
  /* This is also a flex container for the details of the product */
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3S;
  box-shadow: 0rem 0.1rem 0.2rem black;
}
.main__product-item-grid:hover {
  transform: scale(1.1);
}

.main__flex-child-img {
  margin: 1rem;
  height: 18rem;
  width: 14rem;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.1rem 0.1rem 0.8rem black, -0.1rem -0.1rem 0.8rem black;
}

.main__flex-child-title {
  position: absolute;
  bottom: 5.5rem;
}

.main__flex-child-subtitle {
  position: absolute;
  bottom: 4.1rem;
}

.main__flex-child-price {
  position: absolute;
  bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/* On hover there will be an overlay with a grey background and two <a>: shopping cart and a search glass */
/* First I translate everything away, then on hover it comes back with a transition delay */
.main__flex-child-overlay {
  position: absolute;
  top: 1rem;
  height: 18rem;
  width: 14rem;
  background: rgba(46, 46, 46, 0.242);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(-400rem);
}
.main__flex-child-overlay a {
  color: rgb(255, 255, 255);
  background: rgb(52, 50, 50);
  text-decoration: none;
  border-radius: 10%;
  margin: 0.5rem;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  transform: translateY(-400rem);
  transition: all 0.2s;
}
.main__flex-child-overlay a:hover {
  color: gold;
}

.main__product-flex-container:hover .main__flex-child-overlay {
  transform: translateY(0rem);
}
.main__product-flex-container:hover .main__flex-child-overlay a {
  transform: translateY(0rem);
  transition-delay: calc(0.1s * var(--i));
}

.fa-cart-plus {
  --i: 1;
}

.fa-magnifying-glass {
  --i: 2;
}

@media (max-width: 793px) {
  .main__aside-horizontal-ad {
    background-size: 100%;
  }
}
@media (max-width: 570px) {
  .main__product-container-grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
/* Animations */
/* Since figure has 5 images, its set to a 500% width. It will transition to the next
100% (next image) after some seconds. Overflow-x is hidden. */
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
main {
  padding: 2rem 0rem 0rem 0rem !important;
  width: 100vw;
}

input {
  font-size: 1rem;
}

textarea {
  font-size: 1rem;
}

.main__grid-container {
  display: grid;
  grid-template-rows: repeat(14, 5rem);
  grid-template-columns: 3fr 3fr 12rem;
}

.main__section-contact-carousel-grid-item-flex-row {
  background-color: rgba(128, 128, 128, 0.251);
  grid-column: 1/3;
  grid-row: 1/6;
  justify-content: space-around;
  display: flex;
}

.main__div-contact-flex-col {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  font-size: larger;
  background-color: rgba(128, 128, 128, 0.211);
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem 3rem 2rem 5rem;
}

.main__div-container-location-flex-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__li-contact {
  list-style-type: none;
  padding-left: 1rem;
}

.main__h3-contact {
  margin-left: 0.5rem;
}

.main__div-container-form-flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__div-inputs-flex-row {
  display: flex;
}

.form__input-small {
  height: 2.5rem;
  padding: 0rem 1rem;
}

.form__text-area {
  padding: 1rem 1rem 0rem 1rem;
  max-width: 25rem;
  max-height: 6rem;
}

.main__div-carousel {
  position: relative;
  grid-row: 3/5;
  width: 50rem;
  height: 25rem;
  grid-column: 2/3;
  padding: 2rem 2rem 2rem 1rem;
}
.main__div-carousel li {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.main__div-carousel img {
  width: 100%;
  height: 20rem;
  margin-top: 2rem;
}
.main__div-carousel button {
  position: absolute;
  z-index: 1;
  top: 11.5rem;
  transform: scale(1.3);
  padding: 0.2rem 0.2rem 0rem 0.2rem;
  border-radius: 0.2rem;
  border: none;
  opacity: 0.75;
  color: rgb(26, 24, 24);
  cursor: pointer;
}
.main__div-carousel button:hover {
  color: black;
  opacity: 1;
}
.main__div-carousel .prev {
  left: 0.5rem;
}
.main__div-carousel .next {
  right: 0.5rem;
}

.main__li-carousel-slide.active {
  opacity: 1;
}

.main__section-map-grid-item {
  grid-column: 1/3;
  grid-row: 6/10;
  z-index: 1;
}

@media (max-width: 1200px) {
  .main__grid-container {
    grid-template-rows: repeat(11, 10rem);
    grid-template-columns: 3fr 3fr;
  }
  .main__section-contact-carousel-grid-item-flex-row {
    flex-direction: column;
    object-fit: contain;
    grid-column: 1/4;
  }
  .main__div-contact-flex-col {
    align-items: center;
    width: 100%;
    flex-direction: row;
    padding: 1rem 0rem;
  }
  .main__div-carousel {
    align-self: center;
    padding: 1rem 1rem 1rem 1rem;
  }
  .main__section-newsletter-grid-item {
    grid-row: 8/12 !important;
  }
  .main__aside-vertical-ad.display {
    display: none;
  }
}
@media (max-width: 850px) {
  .main__div-carousel {
    width: 40rem;
  }
  .main__div-contact-flex-col {
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .main__div-carousel {
    width: 30rem;
  }
}
@media (max-width: 490px) {
  .main__div-carousel {
    width: 20rem;
    overflow-x: hidden;
  }
  .main__div-carousel img {
    width: 20rem;
    height: 15rem;
    display: flex;
    margin: 4rem auto;
  }
  .main__div-inputs-flex-row {
    flex-direction: column;
  }
}
.main__aside-vertical-ad-goggles-url {
  grid-row: 1/-2;
  grid-column-end: -1;
  display: flex;
  background: url("../images/ads/vertical-ad.jpg ");
  background-size: 100% 25rem;
  background-repeat: repeat;
}

@media (max-width: 1880px) {
  .main__aside-vertical-ad.bindings-url {
    grid-row: 1/4;
  }
}
@media (max-width: 1605px) {
  .main__aside-vertical-ad.snowboard-url {
    grid-row: 1/4;
  }
}
@media (max-width: 1600px) {
  .main__aside-vertical-ad.snowboard-url {
    grid-row: 1/4;
  }
}
@media (max-width: 1337px) {
  .main__aside-vertical-ad.bindings-url {
    grid-row: 1/5;
  }
}
@media (max-width: 1608px) {
  .main__aside-vertical-ad.boots-url {
    grid-row: 1/4;
  }
}
@media (max-width: 1066px) {
  .main__aside-vertical-ad.bindings-url {
    grid-row: 1/7;
  }
  .main__aside-vertical-ad.boots-url, .main__aside-vertical-ad.snowboard-url {
    grid-row: 1/6;
  }
  .main__aside-vertical-ad-goggles-url {
    grid-row: 1/3;
  }
  .main__aside-vertical-ad.helmets-url {
    grid-row: 1/4;
  }
}
@media (max-width: 793px) {
  .main__aside-vertical-ad.bindings-url {
    grid-row: 1/13;
  }
  .main__aside-vertical-ad.snowboard-url {
    grid-row: 1/11;
  }
  .main__aside-vertical-ad.boots-url {
    grid-row: 1/10;
  }
  .main__aside-vertical-ad-goggles-url {
    grid-row: 1/4;
  }
  .main__aside-vertical-ad.-url {
    grid-row: 1/7;
  }
}
@media (max-width: 570px) {
  .main__aside-vertical-ad-goggles-url {
    grid-row: 5/4;
    grid-column: 1/2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .main__aside-vertical-ad.helmets-url, .main__aside-vertical-ad.snowboard-url, .main__aside-vertical-ad.bindings-url, .main__aside-vertical-ad.boots-url {
    grid-row: 5/6;
    grid-column: 1/2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-index {
  padding: 0 !important;
}

body {
  overflow-x: hidden;
  background: linear-gradient(to right, rgb(57, 140, 234), rgb(141, 190, 230), rgb(190, 208, 227));
  font-size: 1rem;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: wider;
}

/* Style for every <hr> in the site */
hr {
  width: 60%;
  height: 0.2rem;
  background-color: black;
  color: black;
  border: none;
  margin: 0.3rem 0rem 2rem 1.5rem;
}

li {
  list-style-type: none;
  list-style: none;
}

/* Style for most <h2> in the site */
.main__h2 {
  margin: 0rem 2rem 0rem 1.5rem;
  font-family: Aclonica, sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
}

input, option, select {
  color: black;
}

/* Style for index.html (main page) */
/*Style for the wallpaper slider*/
.main__section-slider {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.main__figure-slider {
  position: relative;
  z-index: 0;
  left: 0;
  width: 500%; /*So that the 5 images are next to each other, each covering 100% */
  height: 50rem;
  animation: 20s slider infinite;
  /*Moves 100% (next image) after some seconds*/
}

.main__img-slide {
  width: 20%;
  float: left;
  max-height: 100%;
  object-fit: cover;
}
.main__img-slide:nth-child(4) {
  transform: scaleX(-100%);
}

/* Style for the bubble on the image sliders */
.main__div-bubble-container {
  position: absolute;
  z-index: 1;
  top: 3.5rem;
  left: 2rem;
  height: 14rem;
  width: 23rem;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
}

.main__img-bubble {
  position: absolute;
  background-image: url(/images/bubble.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  height: 28rem;
  width: 28rem;
  left: -1rem;
  top: -2rem;
  z-index: 0;
}

.main__img-awardlogo {
  position: relative;
  border-radius: 50%;
  height: 5rem;
  padding-left: 3rem;
  z-index: 1;
}

/* shred the snow phrase */
.main__p-phrase {
  position: relative;
  left: 1.8rem;
  margin: 0.3rem 0rem;
  color: rgb(195, 43, 43);
  text-shadow: 0 0 0.15rem gold;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: Aclonica, sans-serif;
}
.main__p-phrase:first-child {
  margin-top: 0.7rem;
}

/* Style for snowdevil section about us text:*/
.main__p-info {
  padding: 0rem 15rem 0rem 0rem;
  margin: 3rem 0rem 4rem 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 550;
  color: rgb(41, 36, 36);
}

/* Style for image gallery */
.main__div-gallery {
  display: flex;
  justify-content: center;
  height: 30rem;
  width: 50rem;
  margin: auto;
  margin-bottom: 2rem;
}

.main__img-gallery {
  width: 0rem;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.main__img-gallery:hover {
  cursor: crosshair;
  width: 26rem;
  filter: contrast(120%);
  opacity: 1;
}

@media (max-width: 1180px) {
  .main__figure-slider {
    height: auto;
  }
  .main__p-info {
    padding: 0rem 0.5rem;
    margin: 1rem 0rem 3rem 0rem;
  }
}
@media (max-width: 900px) {
  .main__div-bubble-container {
    display: none;
  }
  .main__div-gallery {
    width: auto;
    padding: 0rem 1rem;
  }
}
@media (max-width: 500px) {
  .main__img-gallery:hover {
    cursor: crosshair;
    width: 16rem;
    filter: contrast(120%);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
