/* Error: expected selector.
 *   ,
 * 6 | git 
 *   |     ^
 *   '
 *   scss\vertical-ad-position.scss 6:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 6 \2502  git \d\a   \2502      ^\a   \2575 \a   scss\\vertical-ad-position.scss 6:5  root stylesheet";
}
