@import '_variables';
@import '_mixins';
@import '_footer';
@import '_header';
@import '_newsletter';
@import '_product-gallery';
@import '_store-info';
@import '_vertical-ad-position';


* {
	box-sizing: border-box;
	margin: 0;	
	padding: 0;


}

.main-index{

	padding: 0 !important;

}


body {

	
	overflow-x: hidden;

	background: map-get($linear-gradient, option1 );
	font-size: map-get($font-size, normal );
	width: 100vw;

	font-family: $font-family_1;
	font-stretch: wider;

}

/* Style for every <hr> in the site */

hr {

	width: 60%;
	height: 0.2rem;

	background-color: $black-bg;
	color: $black;

	border: none;
	margin: 0.3rem 0rem 2rem 1.5rem;

}

li{

	list-style-type: none;
	list-style: none;

}

/* Style for most <h2> in the site */

.main__h2 {

	margin: 0rem 2rem 0rem 1.5rem;

	font-family: $font-family_3;
	font-weight: 400;
	font-size: map-get($font-size, title );

}

// Inputs, options, select. In the hosting server they appear blue (not in my local server), so I changed them to black.

input, option, select {
	color: $black;
}

/* Style for index.html (main page) */

/*Style for the wallpaper slider*/
.main__section-slider {

	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 2rem;

}

.main__figure-slider {

	position: relative;
	z-index: map-get($z-index, back );

	left: 0;
	width: 500%; /*So that the 5 images are next to each other, each covering 100% */
	height: 50rem;
	@include slider-animation; /*Moves 100% (next image) after some seconds*/

}
.main__img-slide {

	width: 20%;
	float: left;
	max-height: 100%;

	object-fit: cover;

	&:nth-child(4) {

		@include mirror-image;

	}
}

/* Style for the bubble on the image sliders */

.main__div-bubble-container {

	position: absolute;
	z-index: map-get($z-index, front );
	
	@include bubble-positioning;
	text-align: center;
}
.main__img-bubble {
	position: absolute;

	background-image: url(/images/bubble.png);
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.9;

	height: 28rem;
	width: 28rem;
	left: -1rem;
	top: -2rem;

	z-index: map-get($z-index, back );
}
.main__img-awardlogo {

	position: relative;
	border-radius: 50%;
	height: 5rem;
	padding-left: 3rem;

	z-index: map-get($z-index, front );
}

/* shred the snow phrase */
.main__p-phrase {
	position: relative;
	left: 1.8rem;
	margin: 0.3rem 0rem;

	color: $deep-red;
	text-shadow: 0 0 0.15rem gold;


	font-size: map-get($font-size, p);
	font-weight: 800;
	font-family: $font-family_3;

	&:first-child {
		margin-top: 0.7rem;
	}
}


/* Style for snowdevil section about us text:*/

.main__p-info {
	padding: 0rem 15rem 0rem 0rem;
	margin: 3rem 0rem 4rem 1.5rem;
	text-align: center;

	font-size: map-get($font-size, p);
	font-weight: 550;
	color: $grey-almost-black;
}

/* Style for image gallery */

.main__div-gallery {
	display: flex;
	justify-content: center;

	height: 30rem;
	width: 50rem;

	margin: auto;
	margin-bottom: 2rem;
}
.main__img-gallery {

	width: 0rem;
	flex-grow: 1;


	object-fit: cover;

	opacity: 0.8;
	transition: .5s ease;

	&:hover {

		@include expand-highlight($width: 26rem);

	}
}

// Media queries
@media (max-width: 1180px) {
	.main__figure-slider {
		height: auto;
	}
	.main__p-info {
		padding: 0rem 0.5rem;
		margin: 1rem 0rem 3rem 0rem;
	}
}
@media (max-width:900px) {
	.main__div-bubble-container {
		display: none;
	}
	.main__div-gallery {
		width: auto;
		padding: 0rem 1rem;
	}
}

@media (max-width:500px){

	.main__img-gallery {
		&:hover{
			@include expand-highlight($width: 16rem);

		}
	}

}