$color_1: rgb(255, 255, 255);
$color_2: gold;
$background-color_1: white;

@import 'variables';
@import 'mixins';

/* Placement of main__header */
/* Grid */
/*  Grid for entire product gallery and aside advertisement */
/* Aside (advertisements) elements positioning */
/* Flexbox */
/* Product item layout positioning */
/* On hover there will be an overlay with a grey background and two <a> */
/* First I translate everything away, then on hover it comes back with a transition delay */
/* Media queries */
/* Changing ad position */

main {

	padding: 2rem 1rem;

}

/* Placement of main__header */

.main__header-flex-container {

	display: flex;
	justify-content: space-between;

}


/* Grid */
/*  Grid for entire product gallery and aside advertisement */

.main__product-container-grid {

	display: grid;
	grid-auto-flow: dense;
	grid-auto-rows: 27rem;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) 12rem;
	gap: map-get($gap , bg-gap );

	margin-bottom: 5rem;
	margin-left: 1.5rem;

}

/* Aside (advertisements) elements positioning.  */

.main__aside-vertical-ad {

	grid-row: 1 / -3;
	grid-column-end: -1;


	display: flex;

	background: url('../images/ads/vertical-ad.jpg ');
	background-size: 100% 25rem;
	background-repeat: repeat;

}


.main__aside-horizontal-ad {

	background-image: url("../images/ads/vertical-ad3.jpg");
	background-position: 55% 45%;
	background-size: 90% 15rem;
	background-repeat: no-repeat;

	padding: 4rem;
	margin-bottom: 3rem;
	margin-top: -1rem;

}

/* Flexbox */
/* Product item layout positioning */
.main__product-item-grid {
 /* This is also a flex container for the details of the product */

	position: relative;
	z-index: map-get($z-index , front );
	display: flex;
	flex-direction: column;
	align-items: center;

	transition: all 0.3S;
	box-shadow: 0.0rem 0.1rem 0.2rem black;

	&:hover {

	@include scaleup	

	}
}

.main__flex-child-img {

	margin: 1rem;
	@include size;

	object-fit: contain;
	background-color: $white-color;
	box-shadow: 0.1rem 0.1rem 0.8rem black, -0.1rem -0.1rem 0.8rem black;

}

.main__flex-child-title {

	position: absolute;
	bottom: 5.5rem;

}

.main__flex-child-subtitle {

	position: absolute;
	bottom: 4.1rem;

}
.main__flex-child-price {

	position: absolute;
	bottom: 1rem;

	font-size: map-get($font-size, p );
	font-weight: 600;

}


/* On hover there will be an overlay with a grey background and two <a>: shopping cart and a search glass */
/* First I translate everything away, then on hover it comes back with a transition delay */
// This overlay is a grey translucent background with the same size as the product image
.main__flex-child-overlay {

	position: absolute;
	top: 1rem;
	@include size;

	background: $translucent-grey;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: map-get($gap, short-gap );
	
	transform: translateY(-400rem);

	a {
		color: $white-color;
		background: $dark-grey;

		text-decoration: none;
		border-radius: 10%;

		margin: 0.5rem;
		padding: 1rem 1.2rem;

		font-size: map-get($font-size, medium );

		transform: translateY(-400rem);
		transition: all 0.2s;

		&:hover {

			color: $gold;

		}
	}
}

.main__product-flex-container {
	&:hover {
		.main__flex-child-overlay {

			transform: translateY(0rem);

			a {

				transform: translateY(0rem);
				transition-delay: calc(0.1s * var(--i));

			}
		}
	}
}
.fa-cart-plus {
	--i: 1;
}
.fa-magnifying-glass {
	--i: 2;
}

// Media queries


@media (max-width:793px) {


		.main__aside-horizontal-ad { 
			background-size: 100%;	
			}
		}
	
@media (max-width: 570px) {

	.main__product-container-grid {
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	}
	


}