//  Mixins and some animations

@mixin slider-animation {
	animation: 20s slider infinite
}

@mixin bubble-positioning{
	top: 3.5rem;
	left: 2rem;
	height: 14rem;
	width: 23rem;
	padding: 2rem 1rem 1rem 1rem;
}

@mixin mirror-image{
	transform: scaleX(-100%);
}

@mixin expand-highlight{
	cursor: crosshair;
	width: 26rem;
	filter: contrast(120%);
	opacity: 1;
}

@mixin scaleup-gradient-border{

    border-bottom: 3px solid rgb(121, 174, 235);
    transform: scale(1.05);
    background: linear-gradient(to right, rgb(0, 116, 248), rgb(193, 221, 242) , rgb(171, 202, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

@mixin scaleup{
	transform: scale(1.1);

}

@mixin mobile-nav-bar{
	display: flex;
	flex-direction: column;
	border-radius: 0rem 0rem 1rem 1rem;
	order: 1;
	padding: 1rem 1rem 1rem 2.3rem;
	width: 100%;
	gap: 1.5rem;
	margin: 0rem;
}

@mixin move-away(){
	transform: translateX(-100rem);
	transition: 0.3s ease-out;
}

@mixin move-back(){
	transform: translateX(0rem);
	transition: 0.3s ease-out;
}

@mixin size{
	height: 18rem;
	width: 14rem;
}

@mixin button{

	    transform:scale(1.3);
		padding:0.2rem 0.2rem 0rem 0.2rem;

		border-radius: 0.2rem;
		border: none;

		opacity: 0.75;
		color: $almost-black-bg;

		cursor: pointer;

}	

@mixin button-hover{

	color:$black;
	opacity: 1;

}



/* Animations */
/* Since figure has 5 images, its set to a 500% width. It will transition to the next
100% (next image) after some seconds. Overflow-x is hidden. */
@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0%;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}