@import 'variables';
@import 'mixins';

// Layout and Style for the newsletter section in the index.html page and store-info page

.main__section-newsletter-grid-item {

	grid-row: 10/15;
	grid-column: 1/3;

	align-content: center;
	justify-content: center;
	display: flex;

	gap: map-get($gap, biggest-gap );
	font-size: map-get($font-size, medium );

	background-color: $lightgrey-bg;
	border-radius: 1rem;
	padding: 3rem 1rem;
	width: 100%;

	z-index: map-get($z-index, back );

}

.main__section-h2 {

	align-self: center;

}

.main__div-newsletter-flex-col {

	display: flex;
	flex-direction: column;
	gap: map-get($gap, bg-gap );

}

.main__form-flex-col {

	display: flex;
	flex-direction: column;
	gap: map-get($gap, short-gap );

}

.form__input-big {

	height: 3rem;
	width: 90%;
	padding-left: 0.5rem;
	font-size: large;

}

.form__input-container-flex-row {

	display: flex;
	gap: map-get($gap, bg-gap );

}
.form__label-input-flex-col {

	display: flex;
	flex-direction: column;

}
.form__submit {

	cursor: pointer;

	width: 5rem;
	height: 3rem;

	margin-top: 1rem;

	border-radius: 0.2rem;
	background: $verylight-blue;
	font-size: map-get($font-size, normal);

	&:hover {

		background: $light-blue-hover;
		transform: scale(1.05);

	}
}
.form__submit.query {

	margin: 0;
	height: 2rem;

}
@media (max-width: 600px) {

	.main__section-newsletter-grid-item {

		flex-direction: column;
		gap: map-get($gap, medium-gap );

	}
}